// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=73-0u0k++dW+1p8+Yj-++78++00 */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #002548;	// Main Primary color */
$color-primary-1: #004282;
$color-primary-2: #003365;
$color-primary-3: #001325;
$color-primary-4: #000000;

$color-secondary-1-0: #04004D;	// Main Secondary color (1) */
$color-secondary-1-1: #08018C;
$color-secondary-1-2: #06006D;
$color-secondary-1-3: #020028;
$color-secondary-1-4: #000000;

$color-secondary-2-0: #6F5500;	// Main Secondary color (2) */
$color-secondary-2-1: #C89900;
$color-secondary-2-2: #9C7700;
$color-secondary-2-3: #392B00;
$color-secondary-2-4: #000000;

$color-complement-0: #6F4200;	// Main Complement color */
$color-complement-1: #C87700;
$color-complement-2: #9C5C00;
$color-complement-3: #392200;
$color-complement-4: #000000;