body {
    font-size: $size-6;
}

.call-for-action {
    padding: 2rem;
}

.button .icon {
    margin-top: 0.5rem;
}

.is-family-secondary {
    font-family: $family-secondary;
}

.extra-margin-top {
    margin-top: 2rem;
}

.is-on-bottom {
    margin-bottom: 1rem;
    float: right;
    display: block;
}